

.card{
    background: url(/assets/bg-main-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem;
    position: relative;
}
.back{
    margin-left: 1rem;
    position: relative;
}
.card img{
    width: 100%;
}
.card .logo img{
    width: auto;
}
.content h2{
    font-weight: 400;
}
.content h2, .content p{
    color: #fff;
}
.atmcard{
    position: absolute;
    top:60%;
    left: 5%;
    width: 80%;
}
.back-p{
    position: absolute;
    top: 42%;
    width: 88%;
    text-align: right;
}
.back-p p{
    letter-spacing: 1px;
    color: #fff;
}
.card .number{
    display: flex;
}
.card .bottom{
    display: flex;
    justify-content: space-between;
}
.content{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    padding: 0.5rem;
}
.number{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.content .bottom{
    margin-top: 1rem;
}
.number h2{
    letter-spacing: 1px;
    font-size: 1.4rem;
}
@media screen and (min-width : 728px ) {
    .card{
        background: url(/assets/bg-main-desktop.png);
        background-size: cover;
        height: 30vh;
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: cover;
    }
    .back{
        padding-left: 0rem;
        margin-left: 0rem;
        margin-left: 0;
    }
    .card img{
        width: auto;
    }
    .atmcard{
        top: auto;
        position: relative;
        width: auto;
        top:  -25%;
        left: 0%;
        display: flex;
        justify-content: center;
    }
    .back{
        display: flex;
        justify-content: right;
    }
    .content{
        padding: 1rem;
        width: 50%;
        left: 25%;
        top: 1rem;
    }
    .number{
        margin-top: 3rem;
    }
    .content .bottom{
        margin-top: 2rem;
    }
    .number h2{
        letter-spacing: 2px;
        font-size: 1.6rem;
    }
    .back-p{
        top: 44%;
    }
    .back-p p{
        padding-right: 10%;
    }
}
@media screen and (min-width : 998px ) {
    .card{
        background: url(/assets/bg-main-desktop.png);
        background-repeat: no-repeat;
        height: 100vh;
        padding: 1rem;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .back{
        padding-left: 0rem;
        margin-left: 0rem;
        display: block;
        position: relative;
        left: 50%;
        margin-top: 1rem;
    }
    .card img{
        width: auto;
    }
    .number h2{
        font-size: 1.8rem;
    }
    .atmcard{
        top: auto;
        position: relative;
        width: auto;
        left: 30%;
        margin-bottom: 1rem;
    }
    .content{
        padding: 2.5rem;
        width: 100%;
        left: auto;
        top: 0;
    }
    .number{
        margin-top: 3rem;
    }
    .number h2{
        letter-spacing: 2px;
    }
    .content .bottom{
        margin-top: 2rem;
    }
    .back-p{
        top: 44%;
        width: 90%;
    }
    .back-p p{
        padding-right: 15%;
    }
}
