
.success{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.mt-2{
    margin-top: 3rem;
}
.mt-3{
    margin-top: 1rem;
}
.btn-s{
    width: 100%;
}

@media screen and (min-width: 728px) {
    .success{
        width: 40%;
    }
}
@media screen and (min-width: 998px) {
    .success{
        width: 30%;
    }
}